#title {
    padding-top: 10px;
    position: relative;
}
#title img {
    position: absolute;
    top: 50%;
    margin-top: -24px;  /* = image height 48 / 2 */
}
#title h2 {
    margin-top: 0px;
    margin-left: 56px;  /* = image width 48 + 8 */
    display: block;
    font-size: 20px;
    color:black;
}
p{
    color:black;
    font-size: 17px;
}